# Caches
__pycache__/

# DS_Store
.DS_Store

# VS Code
.vscode/settings.json

# Local job scripts
*_jobs.sh

# Environments
envs/v*.zip
envs/.RData
envs/.Rhistory

# test data for the upload script
data_management/test_data/good/*
data_management/test_data/bad/*

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/
